* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: black;
  font: normal 24px Helvetica, Arial, sans-serif;
}

h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: blue;

}

main {
  display: flex;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
  display: flex;
  /* justify-content: space-around; */
}

li {
  text-align: center;
  width: 20%;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

article {
  flex: 2;
}

aside {
  background-color: lightgreen;
  flex: 1;
}

p {
  margin: 1rem 0;
}

footer {
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

img {
  display: block;
  height: 200px;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  background-color: orange;
}
