* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: black;
  font: normal 24px Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    "header   header    header"
    "nav      nav       nav"
    "sidebar1 article1  sidebar2"
    "sidebar3 article2  article2"
    "footer   footer    footer";
  grid-template-columns: 1fr 2fr 1fr;
}

header, h1 {
  background-color: blue;
  color: white;
  grid-area: header;
}

header {
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: cyan;
  grid-area: nav;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}
#aside-1 {
  grid-area: sidebar1;
}

#aside-2 {
  grid-area: sidebar2;
}

#aside-3 {
  background-color: pink;
  grid-area: sidebar3;
}

#article-1 {
  grid-area: article1;
}

#article-2 {
  background-color: skyblue;
  grid-area: article2;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "logo copyright";
}

#copyright {
  align-self: center;
  grid-area: copyright;
  margin: 0 1rem;
  justify-self: end;
}

img {
  background-color: orange;
  grid-area: logo;
  display: block;
  object-fit: cover;
  width: 100%;
}
