body, section, article, aside {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

section {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
}

article, aside {
  box-sizing: border-box;
  float: left;
  padding: 1rem;
}

article {
  background-color: #ffc;
  width: 70%;
}

aside {
  background-color: #cfc;
  float: none;
  overflow: hidden;
}

section::after { /* This rule is the clearfix */
  clear: both;
  content: "";
  display: block;
}

footer {
  background-color: lavender;
  box-sizing: border-box;
  padding: 1rem;
  /* float: left; */
  clear: both;
}